html {
    font: 500 14px/1 'Montserrat', serif;
    background-color: #FFFFFF;
    color: #000000;
}
a {
    color: inherit;
    cursor: pointer;
    transition: color .2s;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #f26600;
}

.wrapper {
    margin: 0 auto;
    max-width: 1110px;
    padding: 0 20px;
    box-sizing: border-box;
    width: 1150px;
}

.header {
    position: relative;
    background-color: #FFFFFF;
    padding-top: 8px;
}
.header::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #f26600;
}
.headerWrapper {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.info {
    display: flex;
}
.infoInner {
    display: flex;
    flex-direction: column;
}
.infoInner:first-child {
    margin-right: 20px;
}
.infoValue {
    font-size: 14px;
    font-weight: 700;
    height: 17px;
}
.infoValue:first-child {
    margin-bottom: 5px;
}
.infoHightlight {
    color: #9BA4AF;
}
.infoAdress {
    text-transform: uppercase;
}

.social {
    display: flex;
    align-items: center;
}
.socialCaption {
    font-size: 12px;
    text-transform: uppercase;
    color: #9BA4AF;
    margin-right: 30px;
    font-weight: 700;
    letter-spacing: 0.05em;
}
.socialList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.socialListItem:not(:last-child) {
    margin-right: 15px;
}
.socialLink {
    display: block;
    cursor: pointer;
}
.socialLink:hover .socialIcon,
.socialLink:focus .socialIcon {
    transform: scale(1.06);
}
.socialLink:active .socialIcon {
    transform: scale(0.96);
}
.socialIcon {
    width: 30px;
    transition: transform .2s;
    transform: scale(1);
}

.menu {
    background-color: #ebedef;
    height: 50px;
}
.menufixed {
    height: 50px;
}
.menuInner {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
.menuLink {
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    flex-shrink: 0;
}
.menuSeparator {
    height: 2px;
    background-color: #FFFFFF;
    display: block;
    flex-basis: 100%;
    margin: 0 10px;
}

.footer {
    background-image: url(../images/footer.jpg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.footerBottom {
    color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 50px;
    position: relative;
    text-transform: uppercase;
}
.footerBottom::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #f26600;
}
.footerLink {
    margin-left: auto;
}
.footerBottomWrapper {
    display: flex;
}
.footerTopWrapper {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}