html {
    font: 500 14px/1 'Montserrat', serif;
    background-color: #FFFFFF;
    color: #000000;
}
html,
body {
    height: 100%;
}
a {
    color: #3E5ABE;
    cursor: pointer;
    transition: color .2s;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #f26600;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.wrapper {
    margin: 0 auto;
    max-width: 1150px;
    padding: 0 20px;
    box-sizing: border-box;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f26600;
    color: #FFFFFF;
    border: 0;
    height: 40px;
    padding: 10px 30px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .05em;
    transition: all .4s;
    cursor: pointer;
    user-select: none;
    font-weight: 700;
    box-shadow: 0 10px 10px rgba(0 , 0, 0, .1);
}
.button:not(.button_wrap) {
    white-space: nowrap;
}
.button_size_big {
    height: 50px;
    font-size: 14px;
}
.button_style_white {
    background-color: #ffffff;
    color: #3E5ABE;
    border: 1px solid #ebedef;
}
.button_active {
    background-color: #9BA4AF !important;
    color: #FFFFFF !important;
}
.button_noShadow,
.button_hoverShadow {
    box-shadow: none;
}
.button:hover,
.button:focus {
    background-color: #3E5ABE;
}
.button_hoverShadow:hover,
.button_hoverShadow:focus {
    box-shadow: 0 10px 10px rgba(0 , 0, 0, .1);
}
.button:active {
    box-shadow: none !important;
}
.button_style_white:hover,
.button_style_white:focus {
    color: #f26600;
    background-color: #ffffff;
}

.header {
    position: relative;
    background-color: #FFFFFF;
    padding-top: 8px;
}
.header::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #f26600;
}
.headerWrapper {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}
.headerInfo, 
.headerSocial {
    width: 445px;
}
.headerSocial {
    display: flex;
    justify-content: flex-end;
}

.logo {
    user-select: none;
    height: 150px;
}

.info {
    display: flex;
}
.infoInner {
    display: flex;
    flex-direction: column;
}
.info_footer .infoInner {
    flex-direction: row;
}
.infoInner:first-child {
    margin-right: 20px;
}
.info_footer .infoInner:first-child {
    margin-right: 0;
}
.infoValue {
    font-size: 14px;
    font-weight: 700;
    height: 17px;
    color: #000000;
}
.infoValue:first-child {
    margin-bottom: 5px;
}
.info_footer .infoValue {
    color: #FFFFFF;
    font-size: 20px;
}
.info_footer .infoValue:first-child {
    margin-bottom: 0;
    margin-right: 20px;
}
.infoHightlight {
    color: #9BA4AF;
    font-size: 14px;
}
.info_footer .infoHightlight {
    font-size: 16px;
}
.infoAdress {
    text-transform: uppercase;
    letter-spacing: .05em;
}
.infoPhone:hover,
.infoPhone:focus {
    color: #f26600;
}

.social {
    display: flex;
    align-items: center;
}
.social_column {
    flex-direction: column;
    align-items: flex-start;
}
.socialCaption {
    font-size: 12px;
    text-transform: uppercase;
    color: #9BA4AF;
    margin-right: 30px;
    font-weight: 700;
    letter-spacing: .05em;
}
.social_column .socialCaption {
    margin-right: 0;
    margin-bottom: 10px;
    line-height: 1.25;
}
.socialList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.socialListItem:not(:last-child) {
    margin-right: 15px;
}
.socialLink {
    display: block;
    cursor: pointer;
}
.socialLink:hover .socialIcon,
.socialLink:focus .socialIcon {
    transform: scale(1.06);
}
.socialLink:active .socialIcon {
    transform: scale(0.96);
}
.socialIcon {
    width: 30px;
    transition: transform .2s;
    transform: scale(1);
    user-select: none;
}

.menu {
    height: 50px;
}
.menu_footer {
    background-color: transparent;
    margin-bottom: 50px;
}
.menuFixed {
    height: 50px;
    background-color: #ebedef;
}
.menu_fixed .menuFixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
}
.menuInner {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
.menuLink {
    font-size: 14px;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #000000;
    flex-shrink: 0;
    user-select: none;
}
.menu .menuLink:hover,
.menu .menuLink:focus {
    color: #f26600;
}
.menu_footer .menuLink {
    color: #FFFFFF;
}
.menuSeparator {
    height: 2px;
    background-color: #FFFFFF;
    display: block;
    flex-basis: 100%;
    margin: 0 10px;
}
.menu_footer .menuSeparator {
    background-color: rgba(255, 255, 255, .3);
}

.footer {
    background-image: url(../images/footer.jpg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: auto;
    padding-top: 100px;
}
.footerBottom {
    color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 50px;
    position: relative;
    text-transform: uppercase;
}
.footerBottom::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #f26600;
}
.footerLink {
    margin-left: auto;
    color: inherit;
}
.footerBottomWrapper {
    display: flex;
}
.footerTop {
    padding-bottom: 50px;
}
.footerTopWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footerInfo, 
.footerSocial {
    width: 445px;
}
.footerSocial {
    display: flex;
    justify-content: flex-end;
}

.banner {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/banner.jpg);
}
.bannerWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 116px;
    padding-bottom: 116px;
}
.bannerTitle {
    font-weight: 900;
    font-size: 48px;
    letter-spacing: .05em;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    max-width: 824px;
    margin: 0;
}
.bannerText {
    color:#FFFFFF;
    max-width: 540px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bannerTextLine {
    font-size: 16px;
    line-height: 1.5;
    display: block;
    text-align: center;
}
.bannerTextLine:first-child {
    margin-bottom: 10px;
}

.slider {
    padding: 100px 0;
}
.sliderList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sliderListItem {
    padding: 0 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 16.66%;
}
.sliderListItem:first-child {
    padding-left: 0;
}
.sliderListItem:last-child {
    padding-right: 0;
}
.sliderImage {
    margin-bottom: 20px;
    cursor: pointer;
    max-width: 160px;
    display: block;
    user-select: none;
}
.sliderText {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: .05em;
    color: #3E5ABE;
    display: block;
    text-transform: uppercase;
    cursor: pointer;
    transition: color .4s;
}
.sliderListLink:hover .sliderText,
.sliderListLink:focus .sliderText {
    color: #f26600;
}

.buttonBlock {
    background-color: #ebedef;
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}
.buttonBlock::before,
.buttonBlock::after {
    content: "";
    display: block;
    width: 774px;
    height: 773px;
    background-image: url(../images/screw.svg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
}
.buttonBlock::before {
    top: -387px;
    left:-387px;
}
.buttonBlock::after {
    bottom: -387px;
    right: -387px;
}
.buttonBlockTitle {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: .05em;
    color: #000000;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}
.buttonBlockList {
    margin: 45px -5px -5px;
    width: calc(100% + 5px);
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.buttonBlockListItem {
    padding: 5px;
    box-sizing: border-box;
}
@media (max-width: 1024px) {
    .buttonBlock::before,
    .buttonBlock::after {
        width: 388px;
        height: 388px;
    }
    .buttonBlock::before {
        top: -194px;
        left:-194px;
    }
    .buttonBlock::after {
        bottom: -194px;
        right: -194px;
    }
}
@media (max-width: 768px) {
    .buttonBlockListItem {
        width: 100%;
    }
    .buttonBlockListItemButton {
        width: 100%;
    }
}

.iconsBlock {
    padding: 100px 0;
}
.iconsBlockCaption {
    font-weight: 900;
    font-size: 32px;
    letter-spacing: .05em;
    text-transform: uppercase;
    text-align: center;
    display: block;
}
.iconsBlockList {
    margin: 50px -15px 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 30px);
}
.iconsBlockListItem {
    width: 25%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
}
.iconsBlockImage {
    display: block;
    max-width: 100px;
    user-select: none;
}
.iconsBlockListItemCaption {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    max-width: 255px;
}
@media (max-width: 1024px) {
    .iconsBlockList {
        margin-top: 0;
    }
    .iconsBlockListItem {
        width: 50%;
        padding-top: 50px;
    }
}
@media (max-width: 768px) {
    .iconsBlockListItem {
        width: 100%;
    }
}

.numbersBlock {
    background-color: #3E5ABE;
    padding: 100px 0;
    background-image: url(../images/pattern.png);
}
.numbersBlockTitle {
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .05em;
    display: block;
    text-align: center;
}
.numbersBlockList {
    display: flex;
    flex-wrap: wrap;
    margin: 20px -30px -30px;
    padding: 0;
    list-style: none;
    width: calc(100% + 60px);
}
.numbersBlockListItem {
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
    counter-increment: number;
}
.numbersBlockBorder {
    padding: 30px;
    position: relative;
    display: flex;
    height: calc(100% - 60px);
}
.numbersBlockListItem:nth-child(even) .numbersBlockBorder::before,
.numbersBlockListItem:nth-child(n+3) .numbersBlockBorder::after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, .3);
}
.numbersBlockBorder::before {
    top: 0;
    left: -30px;
    width: 1px;
    height: 100%;
}
.numbersBlockBorder::after {
    top: -30px;
    left: 0;
    width: 100%;
    height: 1px;
}
.numbersBlockNumber::after {
    content: counter(number);
    color: #FFFFFF;
    height: 70px;
    width: 70px;
    background-color: #f26600;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5;
    flex-shrink: 0;
    user-select: none;
    margin-right: 30px;
}
.numbersBlockCaption {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    text-align: left;
    display: block;
    line-height: 1.5;
}
.numbersBlockText {
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: left;
    display: block;
    line-height: 1.5;
    margin: 10px 0 0;
}

.catalog {
    background-color: #ebedef;
    padding: 100px 0;
}
.catalogTitle {
    font-weight: 900;
    font-size: 32px;
    letter-spacing: .05em;
    display: block;
    text-align: center;
    text-transform: uppercase;
}
.catalogFilter {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.catalogFilterInner {
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
}
.catalogList {
    list-style: none;
    margin: 5px -15px -15px;
    width: calc(100% + 30px);
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.catalogItem {
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}
.catalogItemInner {
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    padding: 30px;
    transition: background .4s;
}
.catalogItem_selected .catalogItemInner {
    background-color: #FFFFFF;
}
.catalogItemInfo {
    display: flex;
}
.catalogItemImage {
    flex-shrink: 0;
    width: 100px;
    display: block;
    user-select: none;
}
.catalogItemModel {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.catalogItemModelCaption {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
}
.catalogItemModelCars {
    margin-top: auto;
    margin-bottom: 3px;
}
.catalogItemModelCarsCaption {
    color: #9BA4AF;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .05em;
    line-height: 1.5;
    text-transform: uppercase;
}
.catalogItemModelCarsList {
    list-style: none;
    margin: 5px 0 0;
    padding: 0;
    display: flex;
}
.catalogItemModelCarsItem {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
}
.catalogItemModelCarsItem:not(:last-child) {
    margin-right: 10px;
}
.catalogItemText {
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.5;
}
.catalogItemButton {
    margin-top: 20px;
}

.form {
    background-image: url(../images/form.png);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
}
.formInner {
    background-color: #ffffff;
    padding: 100px;
    border-radius: 30px;
}
.formInnerCaption {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: .05em;
    display: block;
    text-align: center;
    text-transform: uppercase;
}
.formFields {
    margin-top: 50px;
}
.formRow {
    display: flex;
}
.formRow:not(:first-child) {
    margin-top: 30px;
}
.formField:not(:first-child) {
    margin-left: 30px;
}
.formField {
    flex: 1;
}
.formLabel {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #9BA4AF;
}
.formFieldInner {
    margin-top: 10px;
    display: flex;
}
.formColumn_left {
    margin-right: 5px;
}
.formColumn_right {
    margin-left: 5px;
}
.formInputContainer {
    flex: 1;
    position: relative;
    cursor: pointer;
}
.formInput, 
.formTextarea {
    border: 0;
    background-color: #EBEDEF;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    outline: 0;
    flex: 1;    
    position: relative;
    cursor: pointer;
    user-select: none;
}
.formInput {
    display: flex;
    align-items: center;
    height: 50px;
}
.formInput_withIcon {
    padding-right: 50px;
}
.formTextarea {
    height: 100px;
    resize: none;
}
.formSelect {
    flex: 1;
    position: relative;
    user-select: none;
}
.formSelectHidden {
    display: none;
}
.formSelectIcon::after {
    transition: transform .4s;
    transform: rotate(0);
}
.formSelect_active .formSelectIcon::after {
    transform: rotate(180deg);
}
.formSelectValues {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 10px 10px rgba(0 , 0, 0, .1);
}
.formSelect_active .formSelectValues {
    display: block;
}
.formSelectValue {
    background-color: #EBEDEF;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 50px;
}
.formSelectValue:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.formSelectValue:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.formFooter {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: flex-end;
}
.formFooterText {
    margin-right: auto;
    color: #9BA4AF;
}
.formIcon::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background-position: 50%;
    background-repeat: no-repeat; 
    z-index: 2;  
}
.formIcon_calendar::after {
    background-image: url(../images/icons/calendar.png);
}
.formIcon_arrow::after {
    background-image: url(../images/icons/arrow.png);
}

.infoBlock {
    padding: 350px 0 50px;
    position: relative;
}
.infoBlockMap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #eee;
}
.infoBlockMap > ymaps {
    width: 100% !important;
    height: 100% !important;
}
.infoBlockInner {
    position: relative;
    z-index: 2;
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0.4px 4px rgba(0, 0, 0, .25);
}
.infoBlockInnerCaption {
    font-weight: 900;
    font-size: 32px;
    letter-spacing: .05em;
    color: #000000;
    text-transform: uppercase;
}
.infoBlockInnerList {
    list-style: none;
    display: flex;
    margin: 30px -15px 0;
    padding: 0;
    width: calc(100% + 30px);
}
.infoBlockInnerItem {
    width: 25%;
    padding: 0 15px;
    box-sizing: border-box;
}
.infoBlockInnerItemCaption {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .05em;
    color:#9BA4AF;
    text-transform: uppercase;
    line-height: 1.25;
}
.infoBlockInnerItemText {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0;
}
.infoBlockInnerItemTextValue {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-right: 5px;
}
.infoBlockInnerItemTextValue + .infoBlockInnerItemTextValue {
    margin-top: 5px;
}
.infoBlockInnerItemTextValueHightlight {
    color:#9BA4AF;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700;
}