html {
    font: 500 14px/1 'Montserrat', serif;
    background-color: #FFFFFF;
    color: #000000;
}
html,
body {
    height: 100%;
}
a {
    color: inherit;
    cursor: pointer;
    transition: color .2s;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #f26600;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.wrapper {
    margin: 0 auto;
    max-width: 1150px;
    padding: 0 20px;
    box-sizing: border-box;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f26600;
    color: #FFFFFF;
    border: 0;
    height: 40px;
    padding: 10px 30px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .05rem;
    transition: all .4s;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    font-weight: 700;
}
.button_size_big {
    height: 50px;
    font-size: 14px;
}
.button_style_white {
    background-color: #ffffff;
    color: #3E5ABE;
}
.button:hover,
.button:focus {
    background-color: #3E5ABE;
    box-shadow: 0 10px 10px rgba(0 , 0, 0, .1);
}
.button:active {
    box-shadow: none;
}
.button_style_white:hover,
.button_style_white:focus {
    color: #f26600;
    background-color: #ffffff;
}

.header {
    position: relative;
    background-color: #FFFFFF;
    padding-top: 8px;
}
.header::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #f26600;
}
.headerWrapper {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}
.headerInfo, 
.headerSocial {
    width: 445px;
}
.headerSocial {
    display: flex;
    justify-content: flex-end;
}

.logo {
    user-select: none;
    height: 150px;
}

.info {
    display: flex;
}
.infoInner {
    display: flex;
    flex-direction: column;
}
.info_footer .infoInner {
    flex-direction: row;
}
.infoInner:first-child {
    margin-right: 20px;
}
.info_footer .infoInner:first-child {
    margin-right: 0;
}
.infoValue {
    font-size: 14px;
    font-weight: 700;
    height: 17px;
    color: #000000;
}
.infoValue:first-child {
    margin-bottom: 5px;
}
.info_footer .infoValue {
    color: #FFFFFF;
    font-size: 20px;
}
.info_footer .infoValue:first-child {
    margin-bottom: 0;
    margin-right: 20px;
}
.infoHightlight {
    color: #9BA4AF;
    font-size: 14px;
}
.info_footer .infoHightlight {
    font-size: 16px;
}
.infoAdress {
    text-transform: uppercase;
    letter-spacing: .05rem;
}
.infoPhone:hover,
.infoPhone:focus {
    color: #f26600;
}

.social {
    display: flex;
    align-items: center;
}
.socialCaption {
    font-size: 12px;
    text-transform: uppercase;
    color: #9BA4AF;
    margin-right: 30px;
    font-weight: 700;
    letter-spacing: .05rem;
}
.socialList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.socialListItem:not(:last-child) {
    margin-right: 15px;
}
.socialLink {
    display: block;
    cursor: pointer;
}
.socialLink:hover .socialIcon,
.socialLink:focus .socialIcon {
    transform: scale(1.06);
}
.socialLink:active .socialIcon {
    transform: scale(0.96);
}
.socialIcon {
    width: 30px;
    transition: transform .2s;
    transform: scale(1);
    user-select: none;
}

.menu {
    background-color: #ebedef;
    height: 50px;
}
.menu_footer {
    background-color: transparent;
    margin-bottom: 50px;
}
.menufixed {
    height: 50px;
}
.menuInner {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
.menuLink {
    font-size: 14px;
    letter-spacing: .05rem;
    text-transform: uppercase;
    color: #000000;
    flex-shrink: 0;
    user-select: none;
}
.menu .menuLink:hover,
.menu .menuLink:focus {
    color: #f26600;
}
.menu_footer .menuLink {
    color: #FFFFFF;
}
.menuSeparator {
    height: 2px;
    background-color: #FFFFFF;
    display: block;
    flex-basis: 100%;
    margin: 0 10px;
}
.menu_footer .menuSeparator {
    background-color: rgba(255, 255, 255, .3);
}

.footer {
    background-image: url(../images/footer.jpg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: auto;
    padding-top: 100px;
}
.footerBottom {
    color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 50px;
    position: relative;
    text-transform: uppercase;
}
.footerBottom::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #f26600;
}
.footerLink {
    margin-left: auto;
}
.footerBottomWrapper {
    display: flex;
}
.footerTop {
    padding-bottom: 50px;
}
.footerTopWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footerInfo, 
.footerSocial {
    width: 445px;
}
.footerSocial {
    display: flex;
    justify-content: flex-end;
}

.banner {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/banner.jpg);
}
.bannerWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 116px;
    padding-bottom: 116px;
}
.bannerTitle {
    font-weight: 900;
    font-size: 48px;
    letter-spacing: .05rem;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    max-width: 824px;
    margin: 0;
}
.bannerText {
    color:#FFFFFF;
    max-width: 540px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bannerTextLine {
    font-size: 16px;
    line-height: 1.5;
    display: block;
    text-align: center;
}
.bannerTextLine:first-child {
    margin-bottom: 10px;
}

.slider {
    padding: 100px 0;
}
.sliderList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sliderListItem {
    padding: 0 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 16.66%;
}
.sliderListItem:first-child {
    padding-left: 0;
}
.sliderListItem:last-child {
    padding-right: 0;
}
.sliderImage {
    margin-bottom: 20px;
    cursor: pointer;
    max-width: 160px;
    display: block;
    user-select: none;
}
.sliderText {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: .05rem;
    color: #3E5ABE;
    display: block;
    text-transform: uppercase;
    cursor: pointer;
    transition: color .4s;
}
.sliderListLink:hover .sliderText,
.sliderListLink:focus .sliderText {
    color: #f26600;
}


.buttonBlock {
    background-color: #ebedef;
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}
.buttonBlock::before,
.buttonBlock::after {
    content: "";
    display: block;
    width: 774px;
    height: 773px;
    background-image: url(../images/screw.svg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}
.buttonBlock::before {
    top: -387px;
    left:-387px;
}
.buttonBlock::after {
    bottom: -387px;
    right: -387px;
}
.buttonBlockTitle {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: .05rem;
    color: #000000;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}
.buttonBlockList {
    margin: 45px -5px -5px;
    width: calc(100% + 5px);
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.buttonBlockListItem {
    padding: 5px;
}

.iconsBlock {
    padding: 100px 0;
}
.iconsBlockCaption {
    font-weight: 900;
    font-size: 32px;
    letter-spacing: .05rem;
    text-transform: uppercase;
    text-align: center;
    display: block;
}
.iconsBlockList {
    margin: 50px 0 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.iconsBlockListItem {
    width: 25%;
    padding-right: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.iconsBlockImage {
    display: block;
    max-width: 100px;
    user-select: none;
}
.iconsBlockListItemCaption {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
}

.numbersBlock {
    background-color: #3E5ABE;
    padding: 100px 0;
    background-image: url(../images/pattern.png);
}
.numbersBlockTitle {
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .05rem;
    display: block;
    text-align: center;
}
.numbersBlockList {
    display: flex;
    flex-wrap: wrap;
    margin: 20px -30px -30px;
    padding: 0;
    list-style: none;
    width: calc(100% + 60px);
}
.numbersBlockListItem {
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
    counter-increment: number;
}
.numbersBlockBorder {
    padding: 30px;
    position: relative;
    display: flex;
    height: calc(100% - 60px);
}
.numbersBlockListItem:nth-child(even) .numbersBlockBorder::before,
.numbersBlockListItem:nth-child(n+3) .numbersBlockBorder::after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, .3);
}
.numbersBlockBorder::before {
    top: 0;
    left: -30px;
    width: 1px;
    height: 100%;
}
.numbersBlockBorder::after {
    top: -30px;
    left: 0;
    width: 100%;
    height: 1px;
}
.numbersBlockNumber::after {
    content: counter(number);
    color: #FFFFFF;
    height: 70px;
    width: 70px;
    background-color: #f26600;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5;
    flex-shrink: 0;
    user-select: none;
    margin-right: 30px;
}
.numbersBlockInfo {
    
}
.numbersBlockCaption {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    text-align: left;
    display: block;
    line-height: 1.5;
}
.numbersBlockText {
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: left;
    display: block;
    line-height: 1.5;
    margin: 10px 0 0;
}